---
title: Talks
---
.list
  :markdown

    ## Talks
    - June 27, Droidcon Berlin, [The best apps are built in pyjama-pants](https://www.slideshare.net/JobvanderVoort/the-best-apps-are-built-in-pyjamapants)
    - June 14, Cloud and DevOps World, London
    - May 25, [Agile Portugal](https://2018.agilept.org/), Porto [Slides](https://www.slideshare.net/JobvanderVoort/conversational-development-agile-portugal)
    - May 23, Product Tank Porto, Porto
    - March 25, [ENEI](https://www.enei.pt/), University Porto, __Building GitLab__ [Slides](https://www.slideshare.net/JobvanderVoort/building-gitlab)
    - March 21, [Cloud Expo](https://www.cloudexpoeurope.com/), London, __Principles of Iteration__ [Slides](https://www.slideshare.net/JobvanderVoort/principles-of-iteration)
    - Feb 2018, University of Minho, Braga, __How to work remotely__
    - June 2017, Geektime Code Elevation, Tel Aviv, __What we can learn from hackers (about the definition of work)__ [Slides](https://www.slideshare.net/JobvanderVoort/what-we-can-learn-from-hackers-about-the-definition-of-work)
    - June 2017, Landing.careers, Lisbon, __Remote and Open__ [Slides](https://www.slideshare.net/JobvanderVoort/remote-and-open-how-gitlab-functions-presentation-at-landingcareers)
    - May 2017, Continuous Lifecycle London, __Conversations__ [Slides](https://www.slideshare.net/JobvanderVoort/conversational-development)
    - May 2017, Microsoft Build, __Idea to Production on Kubernetes__
    - Apr 2017, Open Tech Utrecht, __Beyond Agile: Conversational Development__ [Slides](https://www.slideshare.net/JobvanderVoort/beyond-agile-conversational-development)
    - Feb 2017, SINFO, Lisbon, __Growing an Open Company__ [Slides](http://www.slideshare.net/JobvanderVoort/growing-an-open-company)
    - Oct 2016, GitLab World Tour London, New York, __Better Every Month__ [Slides](https://docs.google.com/presentation/d/1--ndojlD98R89JpQcWR1GJ3gEan5IC1RIwi6-5qdDt4/edit?usp=sharing)
    - May 2016, Continuous Lifecycle London, __Everything open and remote__ [Slides](https://speakerdeck.com/jobv/everything-open-and-remote)
    - Feb 2016, Faber Ventures, Lisbon, __Git Masterclass__
    - Feb 2016, Product Tank Lisbon, __Product at GitLab__,  [Slides](https://www.slideshare.net/secret/KLOzqTZ323RTsP)
    - Oct 2015, OSCON Amsterdam, __Working in the Open__
    - Dec 2015, University of Utrecht, __How GitLab works__
    - Jun 2014, MODX conference, __Git Workflows__

    ## In media

    - February 2017, _The New Stack_, [on Pages](https://thenewstack.io/gitlab-releases-free-static-web-page-hosting/)
    - October 2016, _Software Advice.com_, [on Issue Boards](http://www.softwareadvice.com/resources/new-gitlab-project-management-feature/)
    - September 2016, _Host Advice.com_, [GitLab - taking you from Idea to Production](https://hostadvice.com/blog/gitlab-taking-idea-to-production/)
    - August 2016, _TeachBeacon_, [21 dangerous pieces of code and programming missteps](http://techbeacon.com/21-dangerous-pieces-of-code-and-programming-missteps)
    - February 2016, [Arrested Devops](https://www.arresteddevops.com/gitlab/)
    - 2016, [GitLab University: Big files in Git](https://www.youtube.com/watch?v=DawznUxYDe4)
    - 2016, [GitLab University: GitLab 8.2](https://www.youtube.com/watch?v=09RLHyMFfpA)
    - 2016, [GitLab University: Scalability and Availability](https://www.youtube.com/watch?v=cXRMJJb6sp4)
    - 2016, [GitLab University: Repos, Projects and Groups](https://www.youtube.com/watch?v=4TWfh1aKHHw)
    - 2016, [GitLab University: Making GitLab Great for Everyone](https://www.youtube.com/watch?v=GGC40y4vMx0)
    - 2015, [GitLab University: CI introduction](https://www.youtube.com/watch?v=YnQ47ikp5gE)
    - 2015, [GitLab University: OSs, Servers, VMs and Containers](https://www.youtube.com/watch?v=V61kL6IC-zY)
    - 2015, [GitLab University: Basics of Git and GitLab](https://www.youtube.com/watch?v=03wb9FvO4Ak)
    - 2015, [GitLab University: Docker](https://www.youtube.com/watch?v=ugOrCcbdHko)
    - 2015, [GitLab University: Introduction to GitLab Workflow](https://www.youtube.com/watch?v=enMumwvLAug)
    - GitLab Product update January 2017 [slides](http://www.slideshare.net/JobvanderVoort/gitlab-product-update-january-2017)
    - (promo) 2015 [GitLab promo video](https://www.youtube.com/watch?v=GJP-3BNyCXw)
    - (webcast) 2016, [GitLab 8.6 Release webcast](https://www.youtube.com/watch?v=4r-dUrdpLo8)
    - (webcast) 2016, [GitLab 8.5 webcast](https://www.youtube.com/watch?v=MGH7TdZA9Rg)
    - (webcast) 2016, [GitLab 8.4 webcast](https://www.youtube.com/watch?v=kKDsEWgaHbg)
    - (tutorial) 2015, [Using Git Annex to manage large files](https://www.youtube.com/watch?v=HP4pZlmSvxo)
    - [Feb 2017, Venture Beat](http://venturebeat.com/2017/02/22/gitlab-open-sources-pages-as-part-of-its-free-community-edition/)
