---
title: Quick Boardgame Search
---
.list
  :markdown

    # Pro QR Reader

    Pro QR Reader is a very simple QR reader. It will open a QR URL quickly and display text.

    If you have any feedback or questions, please reach out on Twitter @Jobvo
