@import "bs.min.css";
$main-color: #7848ff;
* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

html,
body {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333;
}

h1 {
  border-bottom: 1px solid $main-color;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

h2 {
  font-weight: 200;
  color: $main-color;
  border-bottom: 1px solid $main-color;
  padding-bottom: 10px;
  margin-bottom: 10px;
  margin-top: 4rem;
}

h3 {
  font-weight: 100;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

a {
  color: $main-color;
}

.job-nav {
  margin-top: 47px;
  text-align: center;
  line-height: 1.1;
  .title {
    /* Job van der Voort: */
    font-weight: bold;
    font-size: 24px;
    color: #333;
  }
  .links a {
    /* blog lists contact: */
    .at {
      font-size: 14px;
      display: inline;
    }
    .jobvo {
      display: inline;
    }
    font-size: 20px;
    color: $main-color;
  }
}

.list,
.markdown {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 70px;
  padding: 0 10px 0 10px;
}

.markdown {
  font-size: 14pt;
}

img {
  max-width: 100%;
}

.nice-list .item {
  margin-bottom: 10px;
}

.nice-list .item {
  .date {
    font-size: 12px;
    position: relative;
    float: left;
    padding-top: 15px;
    text-align: right;
  }
  .content {
    padding-left: 54pt;
    .title a {
      font-weight: bold;
      font-size: 18px;
      color: $main-color;
      letter-spacing: 0px;
    }
    .website a {
      color: #272727;
      font-size: 14px;
    }
  }
}

.article {
  margin-top: 25pt;
  h1,
  h2 {
    border-bottom: none;
    font-weight: bold;
  }
  ul,
  li {
    list-style: circle;
  }
}