!!!
%html
  %head
    %meta{:charset => "utf-8"}
    / Always force latest IE rendering engine or request Chrome Frame
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}

    %meta{name: "viewport", content: "width-device-width, initial-scale=1.0"}

    / Use title if it's in the page YAML frontmatter
    %title= current_page.data.title
    = stylesheet_link_tag "all"
    = javascript_include_tag  "all"

  %body{:class => page_classes}
    = partial 'nav'
    = yield
