---
title: Headlines
---
.list
  :markdown

    # Headlines

    Headlines is a very simple RSS / Atom feed reader.

    If you have any feedback or questions, please reach out on Twitter @Jobvo

    [Find it on the App Store](http://bit.ly/headlines-rss)

    # Roadmap

    ### 1.0

    - Add RSS / Atom feeds
    - Toggle feeds
    - Pull to refresh
    - It has colors
    - No ads
    - No in app purchases
    - Free
