---
title: Pasteis de Nata
---
.list
  :markdown
    ## __*****__ Padaria do Souto

    ![](padaria_souto.JPG)
    Mild Cinnamon flavor.

    Mf thin but crispy

    Very correct.

    9/10

    Place

    Clean, relatively modern for a PT coffee house
