---
title: Written work
---
.list
  .nice-list
    - data.articles.each do |w|
      .item
        .date= w.date
        .content
          .title= link_to "#{w.title}", "#{w.link}"
          .website= link_to "#{w.website}", "#{w.websitelink}"