---
title: Job van der Voort
---

.list
  :markdown

    Personal email: **full name at gmail dotcom**
    
    GitLab email: **job at gitlab dot com**

    This website is open source. Feel free to [open a merge request](https://gitlab.com/JobV/jobv.gitlab.io).
